.custom_input{
    background-color:#f0f0f0!important;
    width:100%;
    max-width:450px;
    border:0px solid black!important;
}

.custom_input:active{
    outline:0px solid black!important;
}
.custom_input:focus{
    box-shadow:none !important;
    /* border:1px solid lightgrey !important; */
}
.mainContainer{
    padding-top:40px;
}
.imagesection{
    margin-top:10px;
    display:flex;
    flex-direction:column;
    gap:20px;
}