.searchContainer {
    position: relative;
}

.custom_input {
    font-size: 0.9rem;
    padding: 10px;
    min-width: 220px;
    border-radius: 0px;
    border: 0px;
}

.custom_input:focus {
    border: 0px !important;
    outline: 0px !important;
}

.search {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.custom_menu {
    position: absolute !important;
    left: -100px !important;
}
.custom_nav{
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
