.searchContainer {
    position: relative;
    left: 31%;
}

.custom_input {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 10px;
    min-width: 220px;
    border-radius: 15px; /* Add border-radius */
    border: 1px solid blue; /* Set border color to blue */

}

.custom_input:focus {
    border: 1px solid blue !important;
    outline: 0px !important;
}

.search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    /* background-color: white; */
    padding: 3px;
    border-radius: 50%;
    border: 1px solid blue;
    height: 25px;
}


.custom_menu {
    position: absolute !important;
    left: -100px !important;
}
.custom_nav{
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom_link{
  margin-left:20px;
  color:black!important;
}
.custom_link:hover{
    text-decoration-line:underline!important;
    text-underline-offset: 5px;
    transform:scale(1.1);
}
