.footer_title{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.fadingBackground{
    background-color:rgba(0,0,0,0.2);
}

.footer{
    background-color:#004792;
}
.title_text, .title_form{
    width:50%;
}

.title_form input:nth-child(1){
    width:60%;
    padding:5px 15px;
    border-radius: 16px 0px 0px 16px;
    border:0px;
}

.title_form input:nth-child(2){
   border:none;
   color:white;
   border-radius: 0px 16px 16px 0px;
   padding:5px 10px;
}
.title_form input:focus{
    outline:none;
}

.category_wrapper{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
}

.category_wrapper div{
    width:25%;
}

.category_wrapper div h5{
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom:20px;
}

@media only screen and (max-width: 476px) {
   

    .category_wrapper div{
        width:100%;
        margin-bottom:20px;
    }
}

@media only screen and (max-width: 768px){
    .title_text, .title_form{
        width:100%;
    }
    .category_wrapper div{
        width:50%;
        margin-bottom:20px;
    }
}