/* 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  font-family: 'Poppins', sans-serif;
}

.newscard{
  width:23%;
  margin:1% 1%;
  min-width:200px;
  float:left;
  height:320px;
  /* border:1px solid black; */
  border-radius:5px;
  /* padding:10px; */
  overflow:hidden;
  cursor:pointer;
  position:relative;
  background: #212427;
  color : white;
}


.newscard:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-wrapper{
  width : 100%;
  height: 60%;
  overflow: hidden;
}

.img-wrapper img {
  transition: transform 0.4s ease;
}

.img-wrapper:hover img {
  transform: scale(1.2);
}

.card-container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:60px;
}

.product-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    /* gap: 25px; */
}
.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding:5px;
}

.title_1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding:5px; */
}

.newscard_footer{
  position:absolute;
  bottom:10px;
  right :10px;
  text-align:right;
}

.custom_carousel{
  height:calc(100vh - 150px);
}

.cardWrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:antiquewhite;
  border-radius:30px;
  padding:20px;
  margin-bottom:20px;
}

.imgWrapper{
  width:100%;
  max-width:300px;
  height:300px;
  overflow-y:clip;
  border-radius:50%;
}

.descriptionWrapper{
  width:70%
}

.profileWrapper{
  margin:40px;
}

.star_rating{
  width:fit-content;
  padding-right: 5px;
}

.product_wrapper{
  width:100%;
  max-width:1200px;
  margin:auto;
}

@media only screen and (max-width:992px){
  .custom_carousel{
    height:auto;
  }
}

@media only screen and (max-width:768px){
  .custom_carousel{
    height:auto;
  }
  .cardWrapper{
    flex-direction:column;
  }
  .descriptionWrapper{
    width:100%;
  }
}

@media only screen and (max-width:576px){
  .profileWrapper{
    margin:0px;
  }
  .cardWrapper{
    border-radius:0px;
  }
  .product-container{
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}





