.team_wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  width:100%;
  height:calc(100vh - 60px);
  background-image:url("../../assets/images/team.jpeg");
  background-size:cover;
  background-repeat:no-repeat;
}

.team_tag{
  width:100%;
  max-width:500px;
  text-align:center;
  padding:30px;
  background-color:rgba(255,255,255,0.7);
  border-radius:20px;
}